In [129]:
import pandas as pd
from pandasql import sqldf
import random

In [130]:
extract = pd.read_csv("final_output.csv")
extract

     team  role
0       1     9
1       1     6
2       1     2
3       1     5
4       1     8
..    ...   ...
485    98     9
486    98     3
487    98    10
488    98     6
489    98     1

[490 rows x 2 columns]

In [131]:
df = sqldf("""
SELECT
role1,
role2,
role3,
role4,
role5,
role6,
role7,
role8,
role9,
role10,
role11
FROM
    (SELECT
      team,
      SUM(CASE WHEN role = 1 THEN 1 ELSE 0 END) AS role1,
      SUM(CASE WHEN role = 2 THEN 1 ELSE 0 END) AS role2,
      SUM(CASE WHEN role = 3 THEN 1 ELSE 0 END) AS role3,
      SUM(CASE WHEN role = 4 THEN 1 ELSE 0 END) AS role4,
      SUM(CASE WHEN role = 5 THEN 1 ELSE 0 END) AS role5,
      SUM(CASE WHEN role = 6 THEN 1 ELSE 0 END) AS role6,
      SUM(CASE WHEN role = 7 THEN 1 ELSE 0 END) AS role7,
      SUM(CASE WHEN role = 8 THEN 1 ELSE 0 END) AS role8,
      SUM(CASE WHEN role = 9 THEN 1 ELSE 0 END) AS role9,
      SUM(CASE WHEN role = 10 THEN 1 ELSE 0 END) AS role10,
      SUM(CASE WHEN role = 11 THEN 1 ELSE 0 END) AS role11
    FROM extract
    GROUP BY 1
    ) a
""", locals())
df['target'] = "_0"
df

,role1,role2,role3,role4,role5,role6,role7,role8,role9,role10,role11,target
0,0,1,0,0,1,1,0,1,1,0,0,_0
1,1,1,0,0,0,2,0,0,0,1,0,_0
2,1,0,1,0,0,1,0,0,1,0,1,_0
3,0,1,0,0,1,1,0,1,0,0,1,_0
4,0,1,0,1,1,0,0,1,1,0,0,_0
...,...,...,...,...,...,...,...,...,...,...,...,...
93,1,1,0,0,1,1,0,0,1,0,0,_0
94,0,1,1,0,0,2,1,0,0,0,0,_0
95,1,0,0,0,1,1,0,0,1,0,1,_0
96,1,1,0,0,0,0,0,1,1,0,1,_0
97,1,0,1,0,0,1,0,0,1,1,0,_0

In [132]:
# I realize stratified sampling could work but doing this
for index, row in df.iterrows():
    roles = []
    for i in range(1, 12):
        if row[f'role{i}'] == 1:
            roles.append(i)
    random_choice = random.choice(roles)
    df.at[index, 'target'] = "_" + chr(random_choice+97)
    df.at[index, f'role{random_choice}'] = 0

In [133]:
from numpy.random import seed
from sklearn.model_selection import train_test_split
seed(32)
split_size = 0.4 if df.shape[0] < 100000 else 40000/df.shape[0]
train, temp = train_test_split(df, test_size=split_size)
dev, test = train_test_split(temp, test_size=0.50)
X_train = train.drop(['target'], axis=1)
y_train = train[['target']]
X_dev = dev.drop(['target'], axis=1)
y_dev = dev[['target']]
X_test = test.drop(['target'], axis=1)
y_test = test[['target']]
X = df.drop(['target'], axis=1)
y = df[['target']]
train.shape, dev.shape, test.shape, train.target.value_counts(normalize=True)

((58, 12),
 (20, 12),
 (20, 12),
 _f    0.189655
 _g    0.172414
 _c    0.155172
 _j    0.120690
 _h    0.086207
 _i    0.086207
 _b    0.068966
 _d    0.068966
 _l    0.034483
 _e    0.017241
 Name: target, dtype: float64)

In [134]:
from sklearn.metrics import accuracy_score

def get_score():
    seed(32)
    model.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, model.predict(X_train))
    accuracy_dev = accuracy_score(y_dev, model.predict(X_dev))
    print("Train Score:", accuracy_train)
    print("Dev Score:", accuracy_dev)
accuracy_baseline1 = accuracy_score(y_dev, [5]*X_dev.shape[0])
accuracy_baseline2 = accuracy_score(y_dev, [6]*X_dev.shape[0])
accuracy_baseline3 = accuracy_score(y_dev, [8]*X_dev.shape[0])
print("Baseline Score1:", accuracy_baseline1)
print("Baseline Score2:", accuracy_baseline2)
print("Baseline Score3:", accuracy_baseline3)

Baseline Score1: 0.0
Baseline Score2: 0.0
Baseline Score3: 0.0

In [135]:
dev

,role1,role2,role3,role4,role5,role6,role7,role8,role9,role10,role11,target
17,1,1,0,0,1,0,0,0,0,0,1,_g
26,1,1,0,0,1,1,0,0,0,0,0,_h
49,0,1,0,0,1,1,0,0,1,0,0,_b
22,0,1,0,1,0,0,1,0,0,0,1,_j
13,0,0,1,0,1,2,0,0,0,0,0,_b
83,1,0,0,0,0,0,0,0,1,1,1,_i
94,0,1,0,0,0,2,1,0,0,0,0,_d
15,1,0,0,0,0,2,0,0,1,0,0,_d
61,1,2,0,0,0,1,0,0,0,0,0,_f
75,2,1,0,0,0,0,0,1,0,0,0,_g
67,0,1,0,0,1,1,0,1,0,0,0,_j
27,0,1,0,0,0,2,0,0,1,0,0,_b
25,0,2,0,0,1,0,1,0,0,0,0,_l
44,0,0,1,0,2,0,0,1,0,0,0,_k
78,0,1,0,0,1,0,1,1,0,0,0,_l
73,0,0,0,0,0,3,0,0,1,0,0,_b
56,0,1,1,0,1,0,0,1,0,0,0,_g
58,1,0,0,0,2,0,0,0,1,0,0,_h
55,0,1,1,0,1,0,0,1,0,0,0,_l
23,0,0,1,0,1,1,0,0,1,0,0,_b

In [136]:
from sklearn import linear_model, neighbors, tree, svm, ensemble
from xgboost import XGBClassifier
# Algorithms
algorithms = []
algorithms.append(linear_model.LogisticRegression())
algorithms.append(linear_model.SGDClassifier())
algorithms.append(neighbors.KNeighborsClassifier(n_neighbors=1))
algorithms.append(neighbors.KNeighborsClassifier(n_neighbors=3))
algorithms.append(neighbors.KNeighborsClassifier(n_neighbors=5))
algorithms.append(neighbors.KNeighborsClassifier(n_neighbors=7))
algorithms.append(neighbors.KNeighborsClassifier(n_neighbors=11))
algorithms.append(tree.DecisionTreeClassifier())
algorithms.append(svm.SVC(kernel='linear'))
algorithms.append(svm.SVC(kernel='poly'))
algorithms.append(svm.SVC(kernel='rbf'))
algorithms.append(svm.SVC(kernel='sigmoid'))
algorithms.append(XGBClassifier(learning_rate=0.1, max_depth=10, min_child_weight=13, n_estimators=40, nthread=1, subsample=0.55))

In [137]:
for algorithm in algorithms:
    algorithm.fit(X_train, y_train)
    pred = algorithm.predict(X_dev)
    print(accuracy_score(pred, y_dev))

0.2
0.2
0.25
0.25
0.35
0.25
0.3
0.3
0.25
0.2
0.25
0.2
[23:04:59] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.25

/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
<ipython-input-137-4db4dd285e1a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  algorithm.fit(X_train, y_train)
<ipython-input-137-4db4dd285e1a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  algorithm.fit(X_train, y_train)
<ipython-input-137-4db4dd285e1a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  algorithm.fit(X_train, y_train)
<ipython-input-137-4db4dd285e1a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  algorithm.fit(X_train, y_train)
<ipython-input-137-4db4dd285e1a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  algorithm.fit(X_train, y_train)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/petermyers/Desktop/Code/commons3/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [144]:
model = tree.DecisionTreeClassifier(max_depth=1)
model.fit(X_train, y_train)
pred = algorithm.predict(X_dev)
print(accuracy_score(pred, y_dev))

0.25

In [139]:
model = tree.DecisionTreeClassifier(max_depth=3)

In [140]:
model.fit(X, y)

DecisionTreeClassifier(max_depth=3)

In [141]:
import graphviz
import os

dot_data = tree.export_graphviz(model, out_file=None,
                      feature_names=train.drop(["target"], axis=1).columns,
                      class_names=['vanguard', 'diver', 'juggernaut', 'enchanter', 'adc', 'mage', 'warden', 'catcher', 'melee', 'battlemage', 'assassin'],
                      filled=True, rounded=True,
                      special_characters=True)
graph = graphviz.Source(dot_data)
graph.render()

os.remove("Source.gv")
os.rename("Source.gv.pdf", "decision_tree.pdf")

In [142]:
sorted(y.values)

[array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_b'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_c'], dtype=object),
 array(['_d'], dtype=object),
 array(['_d'], dtype=object),
 array(['_d'], dtype=object),
 array(['_d'], dtype=object),
 array(['_d'], dtype=object),
 array(['_d'], dtype=object),
 array(['_d'], dtype=object),
 array(['_e'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_f'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_g'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_h'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_i'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_j'], dtype=object),
 array(['_k'], dtype=object),
 array(['_k'], dtype=object),
 array(['_k'], dtype=object),
 array(['_l'], dtype=object),
 array(['_l'], dtype=object),
 array(['_l'], dtype=object),
 array(['_l'], dtype=object),
 array(['_l'], dtype=object),
 array(['_l'], dtype=object)]